<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="hotcss" content="initial-dpr=1, max-width=750">
    <script src="{{ static_url }}static/js/libs/hotcss.js?v={{version}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url }}static/css/login.css?v={{version}}" />
</head>

<body>
    <header></header>
    <form class="form-horizontal" method="POST" action="">
        <p class="tip" style="display:none">该昵称已被，使用请重新输入</p>
        <input type="text" placeholder="ENTER YOUR ID" id="nickname" name="username" />
        <input type="text" name="gender" id="gender" value="1" style="display: none">
        <div class="sex">
            <div class="btn act" value="1">BOY</div>
            <div class="btn" value="2">GIRL</div>
        </div>
        <div class="login disabled" id="login"></div>
    </form>
    <script type="text/javascript" src="{{ static_url }}static/js/libs/jquery-2.0.0.min.js?v={{version}}"></script>
    <script type="text/javascript" src="{{ static_url }}static/js/login.js?v={{version}}"></script>
</body>

</html>